.page {
    display: flex;
    flex-direction: column;
    /* height: 50px; */
    justify-content: left;
    align-items: left;
    font-size: 20px;
    color: #3e3e3e;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid green;
}

.page_gallery {
    padding-left: 25px;
    font-size: 15px;
}