.review_list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-items: flex-start;
}

.review_info {
    display: inline-block;
    font-size: 13px;
    /* padding-left: 20px; */
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.review_info:first-child {
    padding-left: 0;
}

.review_info:last-child {
    padding-bottom: 20px;
}

.review_headers {
    font-size: 15px;
}